{% extends "model.html" %}

{% block content %}
<div class="content shadow-sm p-4 mb-2">
    <h5 class="title text-muted mb-3">Applications</h5>    
    <div class="media py-0">
        <img src="/static/img/mcw.png" width="64px" class="align-self-start mr-3" alt="...">
        <div class="media-body">
            <div class="row">
                <div class="col">
                    <h5 class="mt-0">My Cart Witnessing</h5>
                    <p class="mb-0">Application permettant l'inscription au programme du TPL de ton assemblée locale.</p>
                </div>
                <div class="col-2 my-auto">
                    <a class="btn btn-light w-100" href="https://myministry.fr">Lancer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="media py-0 mt-2">
        <img src="/static/img/meeting.jpg" width="64px" class="align-self-start mr-3" alt="...">
        <div class="media-body">
            <div class="row">
                <div class="col">
                    <h5 class="mt-0">Réunion en ligne</h5>
                    <p class="mb-0">Aide pratique pour l'utilisation de Zoom.</p>
                </div>
                <div class="col-2 my-auto">
                    <a class="btn btn-light w-100" href="#">Lancer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="media py-0 mt-2">
        <img src="/static/img/ar.png" width="64px" class="align-self-start mr-3" alt="...">
        <div class="media-body">
            <div class="row">
                <div class="col">
                    <h5 class="mt-0">Mon Activité</h5>
                    <p class="mb-0">Application permettant d'enregistrer son activité.</p>
                </div>
                <div class="col-2 my-auto">
                    <a class="btn btn-light w-100" href="#">Lancer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="media py-0 mt-2">
        <img src="/static/img/sh.png" width="64px" class="align-self-start mr-3" alt="...">
        <div class="media-body">
            <div class="row">
                <div class="col">
                    <h5 class="mt-0">SecretaryHelper</h5>
                    <p class="mb-0">Application permettant d'aider le secrétaire.</p>
                </div>
                <div class="col-2 my-auto">
                    <a class="btn btn-light w-100" href="#">Lancer</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content shadow-sm p-4">
    <h5 class="title text-muted mb-3">Informations</h5>
    <div class="alert alert-warning mb-0" role="alert">
        <strong>COVID-19</strong> : L'application My Cart Witnessing est indisponible.
    </div>
    <div class="alert alert-info mb-0 mt-2" role="alert">
        <strong>Nouveauté</strong> : Portail MyMinistry.fr, My Cart Witnessing, Réunion en ligne, Mon activité et Secretary Helper réunies.
    </div>
</div>
{% endblock %}