{% extends "model.html" %}

{% block content %}
<div class="content shadow-sm p-4 mb-2">
    <h5 class="title text-muted mb-3">Applications</h5>
    <div class="row">
        <div class="col-1">
            <a href="#"><img src="/static/img/mcw.png" width="64px"/></a>
        </div>
        <div class="col-1">
            <a href="#"><img src="/static/img/meeting.jpg" width="64px"/></a>
        </div>
        <div class="col-1">
            <a href="#"><img src="/static/img/ar.png" width="64px" /></a>
        </div>
        <div class="col-1">
            <a href="#"><img src="/static/img/sh.png" width="64px"/></a>
        </div>
    </div>
</div>
<div class="content shadow-sm p-4">
    <h5 class="title text-muted mb-3">Informations</h5>
    <div class="alert alert-warning mb-0" role="alert">
        <strong>COVID-19</strong> : L'application My Cart Witnessing est indisponible.
    </div>
    <div class="alert alert-info mb-0 mt-2" role="alert">
        <strong>Nouveauté</strong> : Portail MyMinistry.fr, My Cart Witnessing, Réunion en ligne, Mon activité et Secretary Helper réunies.
    </div>
</div>
{% endblock %}