body {
    background-color: #eceae7;
}

h1.title,h2.title,h3.title,h4.title,h5.title,h6.title {
    text-transform: uppercase;
}

div.content {
    background-color: white;
    min-height: 60px;
}

.invisible {
    position: absolute;
    visibility:hidden;
    display:none;
}